        body{
            margin: 0;
            padding: 0;
        }

        
        /* .div{
            height: 2cm;
            width: 80%;
            text-align: center;
            font-size: 35px;
        } */


        .a{background-color: yellow;}
        .b{background-color: pink;}
        .c{background-color: green;}
        .d{background-color: skyblue;}