<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Common Layout</h1>

    <div class="grid-container">
        <div class="div">Banner(Header)</div>
        <div class="div">Navigation(Menu)</div>
        <div class="div">Sidebar(Nes, etc)</div>
        <div class="div">Main page content</div>
        <div class="div">Footer(Copyright, Contact information)</div>
        <div class="div">container(wrapper)</div>
    </div>
</body>
</html>